* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: sans-serif;
  position: relative;
  background-color: rgb(29, 27, 27);
}

.app {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.todo-container {
  width: 25%;
  font-size: 1.5rem;
}

.header {
  color: white;
  text-align: center;
  font-size: 2rem;
  /* margin-top: 50px; */
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo,
.add-todo {
  padding: 10px;
  background-color: rgb(57, 55, 55);
  margin-bottom: 2px;
  /* letter-spacing: 0.1 rem; */
  border-radius: 0.7rem;
}

.todo form {
  width: 90%;
  /* background-color: red; */
}

.todo input {
  background-color: rgb(57, 55, 55);
  word-wrap: break-word;
  width: 100%;
  color: white;
  border: none;
}

.todo:hover {
  background-color: rgb(86, 85, 85);
}

.todo input:focus {
  outline: none;
}

.todo:hover .btn {
  display: inline-block;
}

.todo:hover input {
  background-color: rgb(86, 85, 85);
}

.add-todo {
  color: rgb(86, 85, 85);
  background-color: rgb(29, 27, 27);
}

.add-todo input {
  background-color: rgb(29, 27, 27);
  outline: none;
  border: none;
  color: white;
}

.add-todo:hover {
  background-color: rgb(57, 55, 55);
  cursor: pointer;
}

.add-todo:hover input {
  background-color: rgb(57, 55, 55);
}

.btn-container {
  width: 20%;
  /* display: flex; */
  /* background-color: red; */
}

.btn {
  min-width: 15px;
  width: 30px;
  color: rgb(86, 85, 85);
  padding: 4px 8px;
  margin-right: 2px;
  background-color: rgb(29, 27, 27);
  border: none;
  display: none;
}

.btn img {
  width: 100%;
  /* color: white; */
  /* height: 10px; */
}

.btn:hover {
  background-color: rgb(57, 55, 55);
}

/* signup */
.signup-container {
  color: white;
  width: 30%;
  margin: 100px auto 0;
  height: 60vh;
  /* background-color: red; */
  padding: 20px;
  font-size: 2rem;
}

.signup-container .input-form {
  margin-bottom: 10px;
}

.signup-container input {
  border: none;
  padding: 5px 10px;
}

.signup-container label {
  display: inline-block;
  width: 30%;
}

.signup-container h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.signup-container .signup-btn {
  padding: 10px;
  width: 75%;
  background-color: rgb(79, 211, 252);
}

.signup-container .signup-btn:hover {
  background-color: rgb(16, 171, 218);
}
.signup-container .error {
  font-size: 1.5rem;
  color: red;
}

.login-container {
  /* background-color: red; */

  color: white;
  width: 30%;
  margin: 100px auto 0;
  height: 60vh;
  /* background-color: red; */
  padding: 20px 0 0 100px;
  font-size: 2rem;
}

.login-container .input-form {
  margin-bottom: 10px;
}

.login-container input {
  border: none;
  padding: 5px 10px;
}

.login-container label {
  display: inline-block;
  width: 30%;
}

.login-container h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.login-container .login-btn {
  margin-top: 20px;
  border: none;
  padding: 10px;
  width: 82%;
  background-color: rgb(79, 211, 252);
}

.login-container .login-btn:hover {
  background-color: rgb(16, 171, 218);
}
.login-container .error {
  font-size: 1.5rem;
  color: red;
}
